body {
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar paddings predeterminados */
  background-color: #04193d; /* Azul oscuro */
  color: #ffffff; /* Texto en color blanco para contraste */
  font-family: Arial, sans-serif; /* Fuente predeterminada */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
